/* .button {
  display: inline-flex;
  padding-top: 4px;
  border: 0;
  border-color: rgba(21, 61, 99, 0.726);
  border-radius: 15%;
  font-size: 25px;
  background-color: rgba(34, 83, 130, 0.726);
} */

.button {
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bold;
  margin-right: 1rem;
}

.button:hover {
  opacity: 0.8;
}

.button:disabled {
  cursor: not-allowed;
}

.button.active {
  /* background: #3e6ae1;
  color: #fff; */
  background: #efb146;
  color: #000000;
}
